{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Home</h1>
    {% if user.is_authenticated %}
        Hello {{user.username}} !
        <a href="{% url 'logout' %}">
                <p id="h1"><b>LOGOUT</b></p>
        </a>
        
        <br><br><br>

        You are Team Creator of the following Teams : <br>
        {% for team in teams_created %}
                    {{ forloop.counter | linebreaksbr}}

                    <a href="{% url 'teamview' string=team.title %}">{{team}}</a>
                    Team Creator

                    <br>
                    
        {% endfor %}
        
        <br><br><br>
        
        You are a member in the following Teams : <br>
        {% for team in teams %}
                    {{ forloop.counter | linebreaksbr}}

                    {{team}}
                    Member

                    <br>
        {% endfor %}
        
        <br><br><br>

        Tasks created by you : <br>
        {% for task in tasks_created %}
                    {{ forloop.counter | linebreaksbr}}

                    <a href="{% url 'taskedit' string=task.title %}">{{task}}</a>

                    <br>
                    
        {% endfor %}
        
        Tasks assigned to you :<Br>
        {% for task in tasks_assigned %}
                    {{ forloop.counter | linebreaksbr}}

                    <a href="{% url 'taskview' string=task.title %}">{{task}}</a>

                    <br>
                    
        {% endfor %}
        
        Tasks of your Teams : <br>
        {% for task in my_team_tasks %}
                    {{ forloop.counter | linebreaksbr}}

                    <a href="{% url 'taskview' string=task.title %}">{{task}}</a>

                    <br>
                    
        {% endfor %}


    {% else %}
        <a href="{% url 'login' %}">
                <p id="h1"><b>SIGN IN</b></p>
            </a>
        <a href="{% url 'signup' %}">
            <p id="h1"><b>SIGN UP</b></p>
        </a>        
	{% endif %}
{% endblock %}