<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Create Task</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>
<body data-gr-c-s-loaded="true">
  
  <h2>Task</h2>
  <form method="post">
      {% csrf_token %}
    <p><label for="id_title">Title:</label> <input type="text" name="title" maxlength="50" required="" id="id_title"></p>
<p><label for="id_description">Description:</label> <textarea name="description" cols="40" rows="10" maxlength="100" required="" id="id_description"></textarea></p>
<p><label for="id_team">Team:</label> <select name="team" id="id_team">
  <option value="" selected="">---------</option>

</select></p>
<p><label for="id_status">Status:</label> <select name="status" id="id_status">
  <option value="to-do">To Do</option>

  <option value="planned">Planned</option>

  <option value="in_progress">In Progress</option>

  <option value="done">Done</option>

  <option value="dismissed">Dismissed</option>

</select></p>
<p><label for="id_assignee">Task_assigne:</label> <select name="assignee" id="id_assignee">
  <option value="" selected="">---------</option>
</select></p>
    <button type="submit">Create</button>
  </form>
  <br><br><br>
  
        
        {% block javascript %}
        <script type="text/javascript">
          $( document ).ready(function() {

            var $id_assignee = $('#id_assignee');
              $id_assignee.empty();
              $id_assignee.append('<option value="{{request.user.id}}" selected="">{{request.user.username}}</option>');

              //console.log( "ready!" );
              $.ajax({
                url: "/ajax/teams/",
                dataType: 'json',
                success: function(data) {
                  var t = data[0]
                  for (var key in t) {
                    if (t.hasOwnProperty(key)) {
                      var val = t[key];
                      console.log(key,val);
                    }
                  }
                  //<option value="1">team</option>
                  var $id_team = $('#id_team');
                    $id_team.empty();
                    $id_team.append('<option value="" selected="">---------</option>');
                    for (var key in t) {
                      if (t.hasOwnProperty(key)) {
                        $id_team.append('<option value=' + key + '>' + t[key] + '</option>');
                      }
                    }

                }});

            });
       
          $(document).ready(function(){
            $('#id_team').change(function(){
            var e = document.getElementById("id_team");
            var team = e.options[e.selectedIndex].value;
            console.log(team)
            $.ajax({
                url: "/ajax/team/users/",
                data: {
                  'team': team
                },
                dataType: 'json',
                success: function(data) {
                  var t = data[0]
                  
                  console.log(data[0])
                  for (var key in t) {
                    if (t.hasOwnProperty(key)) {
                      var val = t[key];
                      console.log(key,val);
                    }
                  }

                  var $id_assignee = $('#id_assignee');
                    $id_assignee.empty();
                    $id_assignee.append('<option value="" selected="">---------</option>');
                    for (var key in t) {
                      if (t.hasOwnProperty(key)) {
                        $id_assignee.append('<option value=' + key + '>' + t[key] + '</option>');
                      }
                    }
                }});

            });
          });
        </script>
      {% endblock %}

</body>
</html>