<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Create Task</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>
<body>
  
  <h2>Task</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create</button>
  </form>
  <br><br><br>
  
      {% block javascript %}
        <script type="text/javascript">
          $( document ).ready(function() {
              console.log( "ready!" );
              $.ajax({
                url: "/ajax/teams/",
                dataType: 'json',
                success: function(data) {
                  var t = data[0]
                  
                  console.log(data[0])
                  for (var key in t) {
                    if (t.hasOwnProperty(key)) {
                      var val = t[key];
                      console.log(key,val);
                    }
                  }
                  //<option value="1">team</option>
                  var $id_team = $('#id_team');
                    $id_team.empty();
                    for (var key in t) {
                      if (t.hasOwnProperty(key)) {
                        $id_team.append('<option value=' + key + '>' + t[key] + '</option>');
                      }
                    }

                }});

            });
       
          $(document).ready(function(){
            $('#id_team').change(function(){
            var e = document.getElementById("id_team");
            var team = e.options[e.selectedIndex].value;
            console.log(team)
            $.ajax({
                url: "/ajax/team/users/",
                data: {
                  'team': team
                },
                dataType: 'json',
                success: function(data) {
                  var t = data[0]
                  
                  console.log(data[0])
                  for (var key in t) {
                    if (t.hasOwnProperty(key)) {
                      var val = t[key];
                      console.log(key,val);
                    }
                  }

                  var $id_assignee = $('#id_assignee');
                    $id_assignee.empty();
                    $id_assignee.append('<option value="" selected="">---------</option>');
                    for (var key in t) {
                      if (t.hasOwnProperty(key)) {
                        $id_assignee.append('<option value=' + key + '>' + t[key] + '</option>');
                      }
                    }
                }});

            });
          });
        </script>
      {% endblock %}
</body>
</html>