<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Task : {{task.title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body >
        <h1>Team : {{task.team}}</h1>
        <h3>Assigned to  : {{task.assignee}}</h3>
        <form method="post">
            {% csrf_token %}
            <p><label for="id_title">Title:</label> <input type="text" name="title" value="{{task.title}}" maxlength="50" required="" id="id_title"></p>
    <p><label for="id_description">Description:</label> <textarea name="description" cols="40" rows="10" maxlength="1000" required="" id="id_description">{{task.description}}</textarea></p>
    <p><label for="id_assignee">Task_assigne:</label> <select name="assignee" id="id_assignee">
      <option value="">---------</option>
      {% for a in users  %}
        <option value="{{a.id}}">{{a.username}}</option>
      {% endfor %}
    
    </select></p>
    <p><label for="id_status">Status:</label> <select name="status" id="id_status">
      <option value="to-do" selected="">To Do</option>
    
      <option value="planned">Planned</option>
    
      <option value="in_progress">In Progress</option>
    
      <option value="done">Done</option>
    
      <option value="dismissed">Dismissed</option>
    
    </select></p>
            <button type="submit">Update</button>
            <a href="{% url 'home' %}">Cancel</a>
        </form>
        <a href="{% url 'taskdelete' string=task.title %}">Delete Task ?</a>
    </body>
    </html>